.filters-container {
  width: 250px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.filter-section {
  margin-bottom: 15px;
}

.filter-section h4 {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

select, input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
